<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-maptime-track></app-maptime-track>
    </div>
    <div class="col-sm">
      <app-maptime-map></app-maptime-map>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Track Name:
      <input type="text" class="form-control" #newTrackName required (input)="onUpdateTrackName($event)">
      <button class="btn btn-primary" (click)="onSaveTrack()">Save Track...</button>
    </div>
    <div class="col-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">First Event</th>
            <th scope="col">Last Event</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of storedTracks; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td><a role="button" (click)="onReplaceTrack(i)">{{ track.subjectName }}</a></td>
            <td>{{ track.locationEvents[0].createdAt.toLocaleString() }}</td>
            <td>{{ track.locationEvents[track.locationEvents.length - 1].createdAt.toLocaleString() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
